[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pandas = "*"
numpy = "*"
beautifulsoup4 = "*"
schedule = "*"
duckduckgo-search = "*"
selenium = "*"
selenium-stealth = "*"
google = "*"
googlesearch-python = "*"
matplotlib = "*"
scikit-learn = "*"
pyarrow = "*"
streamlit = "*"

[dev-packages]

[requires]
python_version = "3.11"
